@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body{
   /* background:linear-gradient(90deg, rgb(91, 12, 91),rgb(0, 0, 0));*/
   background-color:#0d1117;
   
   
   
}
.logo
{
    font-size: 25px;
   /* border:2px solid  rgb(126, 125, 125);*/
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.311);
    display:inline;
    background-color:#6e40c9;
    border-radius: 9px;
    padding:3px;
    color:rgb(255, 255, 255);
    font-family: 'Open Sans';
}
.srch
{
   
    display:flex;
    justify-content: center;
    align-items: center;
}
.sec-1
{
    margin-top: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:white;
    font-size: 40px;
    font-family: 'Open Sans';

    
}
#pp
{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
}
.img
{
    margin-top: 600px;
    height:200px;
    width:200px;
    margin:30px;
    border:1px solid transparent;
    box-shadow: 4px 0px 8px 2px  rgba(59, 59, 59, 0.3);
    border-radius: 50%;
    background-color: #6e40c9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img:hover{
    cursor: pointer;
    transition: width 0.4s,height 0.4s ease-out ;
   width:230px;
    height:230px;
    
    
    
}


input{
    width:600px;
    height:25px;
    border:transparent;
    border-bottom: 2px solid rgb(202, 192, 230);
    padding:5px;
    background: none;
    outline:none;
    color:rgb(255, 255, 255);
    transform: scaleX(1);
    
}
@media screen and (max-width:1000px) {
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body{
   /* background:linear-gradient(90deg, rgb(91, 12, 91),rgb(0, 0, 0));
   background:linear-gradient(90deg, rgb(78, 147, 212),rgb(229, 192, 71));
   
   
   
}
.logo
{
    font-size: 25px;
   /* border:2px solid  rgb(126, 125, 125);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.311);
    display:inline;
    background-color:rgb(78, 147, 212);
    border-radius: 9px;
    padding:3px;
    color:rgb(229, 192, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
.srch
{
   
    display:flex;
    justify-content: center;
    align-items: center;
}
.sec-1
{
margin-top: 250px;
display:flex;
justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#pp
{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
}
img{
    margin-top: 600px;
    height:200px;
    width:200px;
    margin:30px;
    border:1px solid transparent;
    box-shadow: 4px 0px 8px 2px  rgba(59, 59, 59, 0.3);
    border-radius: 50%;
   
}
img:hover{
    cursor: pointer;
    transition: width 0.4s,height 0.4s ease-out ;
   width:230px;
    height:230px;
    
    
    
}


input{
    width:600px;
    height:25px;
    border:transparent;
    border-bottom: 2px solid rgb(202, 192, 230);
    padding:5px;
    background: none;
    outline:none;
    color:rgb(255, 255, 255);
    transform: scaleX(1);
    
}
@media screen and (max-width:1000px) {
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
*/
